<body >
  <table class="table canvas" cellspacing=0 >
    <tr class="twenty">
      <th colspan=2>Key Partners
        <%= image_tag "KP.png" %>
      </th>
      <th colspan=2>Key Activities
        <%= image_tag "KA.png" %>
      </th>
      <th colspan=2>Value Proposition
        <%= image_tag "VP.png" %>
      </th>
      <th colspan=2>Customer Relationships
        <%= image_tag "CR.png" %>
      </th>
      <th colspan=2>Customer Segments
        <%= image_tag "CS.png" %>
      </th>
    </tr>
    <tr class="twenty" >
      <td rowspan=3 colspan=2 >
        <%= render @blocks[0]  %>
      </td>
      <td colspan=2> 
        <%= render @blocks[1]  %>
      </td>
      <td rowspan=3 colspan=2>
        <%= render @blocks[2]  %>
      </td>
      <td colspan=2>
        <%= render @blocks[3]  %>
      </td>
      <td rowspan=3 colspan=2>
        <%= render @blocks[4]  %>
      </td>
    </tr>
    <tr class="twenty" >
      <th colspan=2>Key Resources
        <%= image_tag "KR.png" %>
      </th>
      <th colspan=2>Channels
        <%= image_tag "CH.png" %>
      </th>
    </tr>
    <tr class="twenty" >
      <td colspan=2>
        <%= render @blocks[5]  %>
      </td>
      <td colspan=2>
        <%= render @blocks[6]  %>
      </td>
    </tr>
    <tr class="fifty">
      <th colspan=5>Cost Structure
        <%= image_tag "C$.png" %>
      </th>
      <th colspan=5>Revenue Streams
        <%= image_tag "RS.png" %>
      </th>
    </tr>
    <tr class="fifty" >
      <td colspan=5>
        <%= render @blocks[7]  %>
      </td>
      <td colspan=5>
        <%= render @blocks[8]  %>
      </td>
    </tr>
  </table>
</body>
